
/__pycache__
/__pycache__
/YOLOv8/datasets/example_dataset
/YOLOv8/runs
/runs
/Py_Modules/YOLOv8/datasets/example_dataset
/Py_Modules/YOLOv8/runs
/Py_Modules/__pycache__
/Py_Modules/YOLOv8/loadable_models/testing
*.ipynb
*.pyc
Py_Modules/RelmathTest.JPG
/Main/Ros2 Main/Py_Modules/YOLOv8/loadable_models/datasets/example_dataset
/Main/Ros2 Main/Py_Modules/YOLOv8/loadable_models/runs
Main/Ros2 Main/Py_Modules/YOLOv8/loadable_models/loadable_models/testing/TEST_initModelN.onnx
Main/Ros2 Main/Py_Modules/YOLOv8/loadable_models/loadable_models/testing/TEST_initModelS.onnx
/Main/Ros2 Main/Py_Modules/YOLOv8/datasets/example_dataset
/Main/Ros2 Main/Py_Modules/YOLOv8/runs
